<div class="container">
  <header>
    <h2 class="text-center">Current Timesheet</h2>
    <uib-tabset justified="true">
      <uib-tab ng-repeat="day in controller.dates">
        <uib-tab-heading>
          <div ng-bind="day | date:'EEEE'"></div>
          <div ng-bind="day | date:'mediumDate'"></div>
        </uib-tab-heading>
      </uib-tab>
    </uib-tabset>
  </header>

  <section class="taskList">
    <ht-task-timer ng-repeat="task in controller.tasks" ht-task="task" ht-all-tasks="controller.tasks"></ht-task-timer>

    <div class="row timerTotal" style="padding-top: 1em;">
      <section class="col-md-9 taskDefinition">
        <div class="title pull-right" style="font-weight: bold; font-size: x-large">Total Hours:</div>
      </section>
      <section class="col-md-1 timeSection">
        <span class="pull-right" style="vertical-align: -40%;font-size: x-large">128:45</span>
      </section>
      <section class="col-md-2 padding">
      </section>
    </div>
  </section>

  <section class="pageControls" style="padding-top: 1em;">
    <button class="btn btn-default"><i class="fa fa-lg fa-plus"></i><span class="icon-label">Add a timer</span></button>
  </section>
</div>