<div class="container">
  <div class="jumbotron"><h2 class="text-center">Financial Summary</h2></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Accounts
              <button ng-click="ctrl.addAccountClicked()" data-placement="left" bs-tooltip="ctrl.addAccountTooltip"
                      class="btn btn-xs pull-right"><span class="glyphicon glyphicon-plus"></span></button>
            </h3>
          </div>
          <div class="panel-body"><h4>Liabilities</h4>
            <table class="table">
              <thead>
              <tr>
                <th>Account</th>
                <th>Principal Paid</th>
                <th>Interest Paid</th>
                <th>Balance</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="acct in ctrl.liabilityAccounts">
                <td><a href="financialDetails/{{acct._id}}">{{acct.name}}</a></td>
                <td>{{acct.principalPaid | currency}}</td>
                <td>{{acct.interestPaid | currency}}</td>
                <td>{{acct.balance | currency}}</td>
              </tr>
              </tbody>
            </table>
            <h4>Assets</h4>
            <table class="table">
              <thead>
              <tr>
                <th>Account</th>
                <th>Net Activity</th>
                <th>Interest Earned</th>
                <th>Balance</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="acct in ctrl.assetAccounts">
                <td><a href="financialDetails/{{acct._id}}">{{acct.name}}</a></td>
                <td>{{acct.principalPaid | currency}}</td>
                <td>{{acct.interestPaid | currency}}</td>
                <td>{{acct.balance | currency}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Balance</h3></div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>Total Assets:</dt>
              <dd>$485,338.72</dd>
              <dt>Total Liabilities:</dt>
              <dd>$138,009.38</dd>
              <dt>Net Worth:</dt>
              <dd>$347,329.34</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Net Worth over Time</h3></div>
          <div class="panel-body">
            <div>A graph will go here, data modeling and keeping it up to date is TBD.</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Upcoming</h3></div>
          <div class="panel-body">
            <table class="table">
              <thead>
              <tr>
                <th>What</th>
                <th>When</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Pay Day (Ken)</td>
                <td>5/1/2015</td>
              </tr>
              <tr>
                <td>Mortgage Payment</td>
                <td>5/1/2015</td>
              </tr>
              <tr>
                <td>Car Payment</td>
                <td>5/15/2015</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>