<div class="modal-header">
  <button type="button" ng-click="controller.$dismiss()" aria-hidden="true" class="close">&times;</button>
  <h4 class="modal-title" ng-bind="controller.title"></h4>
</div>
<div class="modal-body">
  <form name="messageDialog" class="form-horizontal">
    <div><i class="fa fa-3x fa-exclamation-circle msg-dlg-ico"></i><span class="msg-dlg-text" ng-bind="controller.message"></span>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" ng-click="controller.$close()" class="btn btn-primary">OK</button>
</div>