<div class="container">
  <form class="form-signin well"><h2 class="text-center">Welcome!</h2>

    <h3 class="text-center">Please Sign In</h3>
    <fieldset>
      <div><input placeholder="Email" ng-model="controller.username" class="form-control"/></div>
      <div><input type="password" placeholder="Password" ng-model="controller.password" class="form-control"/></div>
      <div>
        <ht-wait-button wait-click="controller.signin(controller.username, controller.password)"
                        wait-busy="controller.isLoggingIn"
                        class="btn btn-lg btn-block btn-primary"
                        ng-disabled="!controller.username || controller.isLoggingIn">Sign In
        </ht-wait-button>
      </div>
    </fieldset>
  </form>
</div>