div.container
	form.form-horizontal.well(name="profileForm")
		h2.text-center My Profile
		fieldset
			.form-group
				label.col-md-2.control-label(for='username') Username
				.col-md-10
					input.form-control(name='username', type='text', ng-model='ctrl.model.username', required)
					div(ng-messages="profileForm.username.$error", role="alert")
						div(ng-messages-include="/partials/common/templates/errorMessages")
			.form-group
				label.col-md-2.control-label(for='firstName') First Name
				.col-md-10
					input.form-control(name='firstName', type='text', ng-model='ctrl.model.firstName', required)
					div(ng-messages="profileForm.firstName.$error", role="alert")
						div(ng-messages-include="/partials/common/templates/errorMessages")
			.form-group
				label.col-md-2.control-label(for='lastName') Last Name
				.col-md-10
					input.form-control(name='lastName', type='text', ng-model='ctrl.model.lastName', required)
					div(ng-messages="profileForm.lastName.$error", role="alert")
						div(ng-messages-include="/partials/common/templates/errorMessages")
		.form-group
			.col-md-offset-2.col-md-10.btn-area
				button.btn.btn-default(type='button', ng-click="ctrl.reset()") Reset
				button.btn.btn-primary(type='submit', ng-click='ctrl.save()', ng-disabled="profileForm.$invalid") Save
				button.btn.btn-default(type='button', ng-click='ctrl.openPasswordEditor()') Set Password