.modal(tabindex="-1" role="dialog")
	.modal-dialog
		.modal-content
			form.form-horizontal(name="passwordEditor")
				.modal-header
					button.close(type='button', ng-click="$hide()", aria-hidden='true') &times;
					h4.modal-title Change Password
				.modal-body
					fieldset
						.form-group
							label.col-md-4.control-label(for='current') Current Password
							.col-md-8
								input.form-control(name='current', type='password', ng-model='ctrl.model.password', required)
								div(ng-messages="passwordEditor.current.$error", role="alert")
									div(ng-messages-include="/partials/common/templates/errorMessages")
						.form-group
							label.col-md-4.control-label(for='newPassword') New Password
							.col-md-8
								input.form-control(name='newPassword', type='password', ng-model='ctrl.model.newPassword', ng-minlength=8, required)
								div(ng-messages="passwordEditor.newPassword.$error", role="alert")
									div(ng-messages-include="/partials/common/templates/errorMessages")
						.form-group
							label.col-md-4.control-label(for='verifyPassword') Verify New Password
							.col-md-8
								input.form-control(name='verifyPassword', type='password', ng-model='ctrl.model.verifyPassword', required, matches-value='{{ctrl.model.newPassword}}')
								div(ng-messages="passwordEditor.verifyPassword.$error", role="alert")
									div(ng-messages-include="/partials/common/templates/errorMessages")
									small.text-danger(ng-message="matchesValue") Must match new password
						.form-group
							.col-md-offset-4.col-md-8.text-danger {{errorMessage}}
				.modal-footer
					button.btn.btn-default(type='button', ng-click="$hide()") Close
					button.btn.btn-primary(type='submit', ng-click='ctrl.setPassword()', ng-disabled="passwordEditor.$invalid") Set Password