ul.nav.navbar-nav(ng-controller="financeMenuCtrl")
	li.dropdown(ng-show="identity.isAuthenticated()")
		a.dropdown-toggle(href="#" data-toggle="dropdown") Finance <b class="caret"></b>
		ul.dropdown-menu(role='menu')
			li
				a(href="/finance/account?acct=bank1") Checking
			li
				a(href="/finance/account?acct=bank2") Savings
			li
				a(href="/finance/account?acct=credit1") Credit Card
			li
				a(href="/") One Per Account
			li.divider(ng-show="identity.isAuthorized('admin')")
			li
				a(href="/finance/setup", ng-show="identity.isAuthorized('admin')") Setup