node_modules/*
.idea/*
!.idea/codeStyleSettings.xml
*.html
public/dist/
public/vendor/
public/css/*
!public/css/*.scss

server/includes/scripts.jade
server/includes/layout.jade

.c9/
data/
*.log

.sass-cache/
