node_modules
bower_components

.idea/*
!.idea/codeStyleSettings.xml

*.html
public/dist/
public/style/*
!public/style/*.scss

server/includes/scripts.jade
server/includes/layout.jade

.c9/
data/
!server/data/
*.log

.sass-cache/
.DS_Store
