.modal(tabindex="-1" role="dialog")
	.modal-dialog
		.modal-content
			form.form-horizontal(name="messageDialog")
				.modal-header
					button.close(type='button', ng-click="no()", aria-hidden='true') &times;
					h4.modal-title {{title}}
				.modal-body
					div
						i.fa.fa-3x.fa-question-circle.msg-dlg-ico
						span.msg-dlg-text {{question}}
				.modal-footer
					button.btn.btn-primary(type='button', ng-click='yes()') Yes
					button.btn.btn-default(type='button', ng-click='no()') No