.panel.panel-default
	.panel-heading
		h3.panel-title {{kwsTitle}}
			button.btn.btn-xs.pull-right(ng-click="ctrl.editClicked()")
				span.glyphicon.glyphicon-pencil
	.panel-body
		div(ng-hide="ctrl.editMode")
			dl.dl-horizontal(ng-repeat="list in kwsLists")
				span(ng-repeat="item in list | filter: {modes: 'V'}")
					dt {{item.label}}
					dd
						kws-templated-view(kws-model="kwsModel", kws-template="{{item.template}}")
		div.editor(ng-show="ctrl.editMode")
			form.form-horizontal
				div(ng-repeat="list in kwsLists")
					fieldset
						div.form-group(ng-repeat="item in list| filter: {modes: 'E'}")
							.row
								label.control-label.col-md-6(for="{{item.columnName}}") {{item.label}}
								.col-md-6
									kws-templated-view(kws-model="kwsModel", kws-template="{{item.editTemplate}}")
				.modal-footer
					button.btn.btn-default(ng-click="ctrl.cancelClicked()") Cancel
					button.btn.btn-primary(ng-click="ctrl.doneClicked()") Done