@import "variables";

body {
  padding-top: 61px;
}

.navbar-right {
  padding-right: 2em;
}

.aside .aside-dialog .aside-header {
  background-color: $brand-info;
}

.options-row {
  margin-bottom: 12px;
}

.view-section {
  border: 1px solid #000000;
  padding: 0.5em;
}

.container .jumbotron {
  padding: 10px;
  h2 {
    margin: 5px;
  }
}

.tab-pane {
  padding-top: 15px;
}