<div class="jumbotron">
  <button ng-click="ctrl.editClicked()" class="btn btn-xs pull-right"><span class="glyphicon glyphicon-pencil"></span>
  </button>
  <div class="clearfix"></div>
  <div ng-hide="ctrl.editMode"><span ng-repeat="line in kwsLines | filter: {modes: 'V'}" class="clearfix"><h2
    ng-if="$index === 0" class="text-center">
    <kws-templated-view kws-model="kwsModel" kws-template="{{line.template}}"></kws-templated-view>
  </h2><div ng-if="$index !== 0" class="text-center">
    <kws-templated-view kws-model="kwsModel" kws-template="{{line.template}}"></kws-templated-view>
  </div></span></div>
  <div ng-show="ctrl.editMode" class="container">
    <form class="form-horizontal">
      <fieldset>
        <div ng-repeat="line in kwsLines| filter: {modes: 'E'}" class="form-group">
          <div class="row"><label for="{{line.columnName}}" class="control-label col-md-2">{{line.label}}</label>

            <div class="col-md-10">
              <kws-templated-view kws-model="kwsModel" kws-template="{{line.editTemplate}}"></kws-templated-view>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="modal-footer">
        <button ng-click="ctrl.cancelClicked()" class="btn btn-default">Cancel</button>
        <button ng-click="ctrl.doneClicked()" class="btn btn-primary">Done</button>
      </div>
    </form>
  </div>
</div>