<div class="row taskTimer">
  <section class="col-md-9 taskDefinition">
    <div class="title">
      <span ng-bind="controller.htTimer.project.name"></span>
      <span ng-show="controller.htTimer.project.jiraTaskId">
        [<span ng-bind="controller.htTimer.project.jiraTaskId"></span>]
      </span>
      <span ng-show="controller.htTimer.project.sbvbTaskId">
        (<span ng-bind="controller.htTimer.project.sbvbTaskId"></span>)
      </span>
    </div>
    <div class="task" ng-bind="controller.htTimer.stage.name"></div>
  </section>
  <section class="col-md-1 timeSection">
    <span class="pull-right" ng-bind="controller.htTimer.milliseconds | hoursMinutes"></span>
  </section>
  <section class="col-md-2 timerControls">
    <button class="btn btn-default" ng-hide="controller.htTimer.isActive" ng-click="controller.htStart()"><i class="fa fa-clock-o"></i>
      <span class="icon-label">Start</span>
    </button>
    <button class="btn btn-default" ng-show="controller.htTimer.isActive" ng-click="controller.htStop()"><i class="fa fa-stop"></i>
      <span class="icon-label">Stop</span>
    </button>
    <i class="fa fa-lg fa-pencil-square-o" style="padding-left: 1em" ng-click="controller.htEdit()"></i>
  </section>
</div>
