.modal(tabindex="-1" role="dialog")
	.modal-dialog
		.modal-content
			form.form-horizontal(name="transactionEditor")
				.modal-header
					button.close(type="button", ng-click="$hide()", aria-hidden="true") &times;
					h4.modal-title {{controller.title}}
				.modal-body
					fieldset
						.form-group
							label.col-md-3.control-label(for='transactionDate') Transaction Date
							.col-md-9
								input.form-control(name='transactionDate', type='text', ng-model='controller.transactionDate', bs-datepicker, required)
								.error-container(ng-show='transactionEditor.transactionDate.$invalid')
									small.text-danger(ng-show='transactionEditor.transactionDate.$error.required') Required
						.form-group
							label.col-md-3.control-label(for='description') Description
							.col-md-9
								input.form-control(name='description', type='text', ng-model='controller.description', required)
								.error-container(ng-show='transactionEditor.description.$invalid')
									small.text-danger(ng-show='transactionEditor.description.$error.required') Required
						.form-group
							label.col-md-3.control-label(for='principalAmount') Principal Amount
							.col-md-9
								input.form-control(name='principalAmount', type='text', ng-model='controller.principalAmount', required)
								.error-container(ng-show='transactionEditor.principalAmount.$invalid')
									small.text-danger(ng-show='transactionEditor.principalAmount.$error.required') Required
						.form-group
							label.col-md-3.control-label(for='interestAmount') Interest Amount
							.col-md-9
								input.form-control(name='interestAmount', type='text', ng-model='controller.interestAmount', required)
								.error-container(ng-show='transactionEditor.interestAmount.$invalid')
									small.text-danger(ng-show='transactionEditor.interestAmount.$error.required') Required
				.modal-footer
					button.btn.btn-default(type='button', ng-click="$hide()") Cancel
					button.btn.btn-primary(type='submit', ng-click='controller.save()', ng-disabled="transactionEditor.$invalid || errorMessage") Save