form.form-horizontal(name="messageDialog")
	.modal-header
		button.close(type='button', ng-click="dismiss()", aria-hidden='true') &times;
		h4.modal-title {{title}}
	.modal-body
		div {{message}}
	.modal-footer
		button.btn.btn-primary(type='button', ng-click='yes()') Yes
		button.btn.btn-default(type='button', ng-click='dismiss()') No