.datepicker.dropdown-menu {
  width: 250px;
  height: 270px;
}

.timepicker.dropdown-menu button,
.datepicker.dropdown-menu button {
  outline: none;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
  color: #000;
  background-color: #fff;
}

.datepicker.dropdown-menu tbody {
  height: 180px;
}

.datepicker.dropdown-menu tbody button {
  padding: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
}

.datepicker.dropdown-menu.datepicker-mode-1 tbody button,
.datepicker.dropdown-menu.datepicker-mode-2 tbody button {
  height: 65px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
}

.timepicker.dropdown-menu {
  padding: 0 4px;
}

.timepicker.dropdown-menu tbody button.btn-primary {
  padding: 6px;
  margin: 0;
}