body {
  padding-top: 61px;
}

a.btn:hover,
a.btn:focus {
  color: #97310e;
}

.navbar-right {
  padding-right: 2em;
}

.checkbox-group {
  padding-left: 14px;
}

.form-static {
  padding: 8px 12px;
}

.form-control[date-time-picker] {
  cursor: pointer;
  background-color: #fff;
}

.form-control-selected {
  border: 4px solid #000000;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ng-invalid {
  border-color: #f00 !important;
}

.btn-area .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}

.msg-dlg-ico {
  vertical-align: middle;
  margin: 0 10px;
}

.aside .aside-dialog .aside-header {
  background-color: #772953;
}

.options-row {
  margin-bottom: 12px;
}