<div class="container">
  <div class="subheader">
    <form class="form-inline">
      <div class="form-group">
        <button ng-click="controller.newProject()" class="btn btn-default"><i class="fa fa-lg fa-plus"></i> Add Project
        </button>
      </div>

      <div class="form-group pull-right">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="controller.showInactive">
            Show Inactive
          </label>
        </div>

        <div class="input-group" style="padding-left: 1em;">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input id="searchText"
                 class="form-control"
                 type="text"
                 ng-model="controller.searchText">
        </div>
      </div>
    </form>
  </div>

  <div>
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Jira Task</th>
        <th>SBVB Task</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="project in controller.projects | filter:controller.searchText"
          ng-show="project.status === 'active' || controller.showInactive"
          ng-class="{inactive: project.status === 'inactive'}">
        <td ng-bind="project.name"></td>
        <td ng-bind="project.jiraTaskId"></td>
        <td ng-bind="project.sbvbTaskId"></a></td>
        <td><i class="fa fa-lg fa-pencil-square-o" ng-click="controller.editProject(project)"></i></td>
      </tr>
      </tbody>
    </table>
    <ht-wait-bar waiting="controller.isQuerying"></ht-wait-bar>
  </div>
</div>