.container
	.jumbotron
		button.btn.btn-xs.pull-right(ng-click="ctrl.editAccount()")
			span.glyphicon.glyphicon-pencil
		.clearfix
			h2.text-center {{ctrl.account.name}}
			div.text-center {{ctrl.account.bank}}
			div.text-center {{ctrl.account.accountNumber}}
	.container-fluid
		.row
			.col-md-12
				table.table
					thead
						tr
							th Date
							th Description
							th Principal Amount
							th Interest
							th
								button.btn.btn-xs.pull-right(ng-click="ctrl.addTransaction()")
									span.glyphicon.glyphicon-plus
					tbody
						tr(ng-repeat="trans in ctrl.transactions")
							td {{trans.transactionDate}}
							td {{trans.description}}
							td {{trans.principalAmount}}
							td {{trans.interestAmount}}
							td
								button.btn.btn-xs.pull-right(ng-click="ctrl.editTransaction(trans)")
									span.glyphicon.glyphicon-pencil
								button.btn.btn-xs.pull-right
									span.glyphicon.glyphicon-minus
