.container
	kws-page-header(kws-lines="ctrl.headerLines", kws-model="ctrl.account")
	.container-fluid
		.row
			.col-md-12 First row is perminant editor, subsequent rows can be edited in place or deleted. The add button will only be enabled if date, description, and at least one amount is filled in. Also, there needs to be some space between the edit and delete buttons.
		.row
			.col-md-12
				table.table
					thead
						tr
							th Date
							th Description
							th Principal Amount
							th Interest
							th
								button.btn.btn-xs.pull-right(ng-click="ctrl.addTransaction()", ng-disabled="ctrl.editMode")
									span.glyphicon.glyphicon-plus
					tbody
						tr(ng-repeat="trans in ctrl.transactions")
							td
								span(ng-hide="trans.editMode") {{trans.transactionDate}}
								span(ng-show="trans.editMode")
									input.form-control(type='text', ng-model='ctrl.transactionModel.date', bs-datepicker, required)
							td
								span(ng-hide="trans.editMode") {{trans.description}}
								span(ng-show="trans.editMode")
									input.form-control(type='text', ng-model='ctrl.transactionEditor.description', required)
							td
								span(ng-hide="trans.editMode") {{trans.principalAmount}}
								span(ng-show="trans.editMode")
									input.form-control(type='text', ng-model='ctrl.transactionEditor.principal', required)
							td
								span(ng-hide="trans.editMode") {{trans.interestAmount}}
								span(ng-show="trans.editMode")
									input.form-control(type='text', ng-model='ctrl.transactionEditor.interest', required)
							td
								button.btn.btn-xs.pull-right(ng-hide="trans.editMode", ng-disabled="ctrl.editMode")
									span.glyphicon.glyphicon-minus
								button.btn.btn-xs.pull-right(ng-hide="trans.editMode", ng-disabled="ctrl.editMode")
									span.glyphicon.glyphicon-pencil
								button.btn.btn-xs.pull-right(ng-show="trans.editMode")
									span.glyphicon.glyphicon-ok
								button.btn.btn-xs.pull-right(ng-show="trans.editMode")
									span.glyphicon.glyphicon-remove