.container
	.jumbotron
		button.btn.btn-xs.pull-right(ng-click="ctrl.editAccount()")
			span.glyphicon.glyphicon-pencil
		.clearfix
			h2.text-center {{ctrl.account.name}}
			div.text-center {{ctrl.account.bank}}
			div.text-center {{ctrl.account.accountNumber}}
	.container-fluid
		.row
			.col-md-12
				table.table
					thead
						tr
							th Date
							th.description Description
							th.text-right Principal Amount
							th.text-right Interest
							th
								button.btn.btn-xs.pull-right(ng-click="ctrl.addTransaction()")
									span.glyphicon.glyphicon-plus
					tbody
						tr(ng-repeat="trans in ctrl.transactions")
							td {{trans.transactionDate | date}}
							td.description {{trans.description}}
							td.text-right {{trans.principalAmount | currency}}
							td.text-right {{trans.interestAmount | currency}}
							td
								button.btn.btn-xs.pull-right(ng-click="ctrl.editTransaction(trans)")
									span.glyphicon.glyphicon-pencil
								button.btn.btn-xs.pull-right(ng-click="ctrl.deleteTransaction(trans)")
									span.glyphicon.glyphicon-minus
