.container
	.jumbotron
		button.btn.btn-xs.pull-right(ng-click="ctrl.editAccount()")
			span.glyphicon.glyphicon-pencil
		.clearfix
			h2.text-center {{ctrl.account.name}}
			div.text-center {{ctrl.account.bank}}
			div.text-center {{ctrl.account.accountNumber}}
	.container-fluid
		.row
			.col-md-12
				table.table
					thead
						tr
							th Date
							th Description
							th Principal Amount
							th Interest
							th
								button.btn.btn-xs.pull-right(ng-click="ctrl.addTransaction()", ng-disabled="ctrl.editMode")
									span.glyphicon.glyphicon-plus
					tbody
						tr(ng-repeat="trans in ctrl.transactions")
							td
								span(ng-hide="trans.editMode") {{trans.transactionDate}}
								span(ng-show="trans.editMode")
									input.form-control(type='text', ng-model='ctrl.transactionEditor.date', bs-datepicker, required)
							td
								span(ng-hide="trans.editMode") {{trans.description}}
								span(ng-show="trans.editMode")
									input.form-control(type='text', ng-model='ctrl.transactionEditor.description', required)
							td
								span(ng-hide="trans.editMode") {{trans.principalAmount}}
								span(ng-show="trans.editMode")
									input.form-control(type='text', ng-model='ctrl.transactionEditor.principal', required)
							td
								span(ng-hide="trans.editMode") {{trans.interestAmount}}
								span(ng-show="trans.editMode")
									input.form-control(type='text', ng-model='ctrl.transactionEditor.interest', required)
							td
								button.btn.btn-xs.pull-right(ng-hide="trans.editMode", ng-disabled="ctrl.editMode")
									span.glyphicon.glyphicon-minus
								button.btn.btn-xs.pull-right(ng-hide="trans.editMode", ng-disabled="ctrl.editMode", ng-click="ctrl.editTransaction(trans)")
									span.glyphicon.glyphicon-pencil
								button.btn.btn-xs.pull-right(ng-show="trans.editMode", ng-click="ctrl.saveTransaction(trans)")
									span.glyphicon.glyphicon-ok
								button.btn.btn-xs.pull-right(ng-show="trans.editMode")
									span.glyphicon.glyphicon-remove