extend ../includes/layout

block main-content
	section.content
		h1 Hello World!!

	section.content
		div(ng-view)

	h2= mongoMessage

	footer.container.text-center
		p &copy; 2014 Kenneth W. Sodemann