<div role="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span
      class="sr-only">Toggle Navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
      class="icon-bar"></span></button>
    <a href="/" class="navbar-brand"><span class="glyphicon glyphicon-home"></span><span>&nbsp;HomeTrax</span></a></div>
  <div class="navbar-collapse collapse">
    <span ng-include="'app/calendar/templates/calendarMenu.html'"></span>
    <span ng-include="'app/household/templates/householdMenu.html'"></span>
    <span ng-include="'app/financial/menu/template.html'"></span>
    <span ng-include="'app/auth/templates/loginMenu.html'"></span>
    <span ng-include="'app/userAdministration/templates/userAdministrationMenu.html'"></span>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</div>