.container
	.col-md-10(ui-calendar="uiConfig.calendar", ng-model="eventSources", calendar="calendar")
	.col-md-2
		.checkbox
			label Show only my events
				input(type='checkbox', ng-model='showOnlyMine')
		h4 Categories
		ul
			li(ng-repeat='evt in eventCategories')
				span.checkbox
					label {{evt.name}}
						input(type='checkbox', ng-model='evt.include')