form.form-horizontal(name="eventEditor")
	.modal-header
		button.close(type='button', ng-click="cancel()", aria-hidden='true') &times;
		h4.modal-title {{editorTitle}}
	.modal-body
		fieldset
			.form-group
				label.col-md-2.control-label(for='title') Title
				.col-md-10
					input.form-control(name='title', type='text', ng-model='model.title', required)
			.form-group
				label.col-md-2.control-label(for='category') Category
				.col-md-10
					input.form-control(name='category', type='text', ng-model='model.category', options='categoryOptions', datasets='categories', sf-typeahead, required)
			.form-group
					label.col.md-10.col-md-offset-2
						input(type='checkbox', ng-model='model.isAllDayEvent')
						span &nbsp;All day event
			.form-group
				label.col-md-2.control-label(for='startDate') Start
				.col-md-10
					input.form-control(name='startDate', type='text', ng-model='model.startDateTime', date-time-picker, data-default-date='{{model.startDateTime}}',  ng-hide='model.isAllDayEvent', required)
					input.form-control(name='startDate', type='text', ng-model='model.startDate', date-time-picker, data-default-date='{{model.startDate}}', data-pick-time='false', ng-show='model.isAllDayEvent', required)
			.form-group
				label.col-md-2.control-label(for='endDate') End
				.col-md-10
					input.form-control(name='endDate', type='text', ng-model='model.endDateTime', date-time-picker, data-default-date='{{model.endDateTime}}', ng-hide='model.isAllDayEvent', required)
					input.form-control(name='endDate', type='text', ng-model='model.endDate', date-time-picker, data-default-date='{{model.endDate}}', data-pick-time='false', ng-show='model.isAllDayEvent', required)
			.form-group
					label.col.md-10.col-md-offset-2
						input(type='checkbox', ng-model='model.isPrivate')
						span &nbsp;Private event
			.form-group
				.col-md-offset-4.col-md-8.text-danger {{errorMessage}}
	.modal-footer
		button.btn.btn-default.pull-left(type='button', ng-click="remove()", ng-show="displayRemoveButton") Remove
		button.btn.btn-default(type='button', ng-click="cancel()") Cancel
		button.btn.btn-primary(type='submit', ng-click='ok()', ng-disabled="eventEditor.$invalid || errorMessage") Save Event