<ul ng-controller="userAdministrationMenuCtrl as ctrl" class="nav navbar-nav navbar-right">
  <li ng-show="ctrl.identity.isAuthenticated() &amp;&amp; !ctrl.identity.isAuthorized('admin')"><a
    href="/userAdministration/myprofile">My Profile</a></li>
  <li ng-show="ctrl.identity.isAuthorized('admin')" class="dropdown"><a href="#" data-toggle="dropdown"
                                                                        class="dropdown-toggle">User Admin <b
    class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="/userAdministration/myprofile">My Profile</a></li>
      <li><a href="/userAdministration/userlist">User List</a></li>
    </ul>
  </li>
</ul>