.container
	.jumbotron
		h2.text-center Financial Summary
	.container-fluid
		.row
			.col-md-8
				.panel.panel-default
					.panel-heading
						h3.panel-title Accounts
							button.btn.btn-xs.pull-right(ng-click="ctrl.addAccountClicked()", data-placement="left", bs-tooltip="ctrl.addAccountTooltip")
								span.glyphicon.glyphicon-plus
					.panel-body
						h4 Liabilities
						table.table
							thead
								tr
									th Account
									th Principal Paid
									th Interest Paid
									th Balance
							tbody
								tr(ng-repeat="acct in ctrl.liabilityAccounts")
									td
										a(href="") {{acct.name}}
									td {{acct.principalPaid | currency}}
									td {{acct.interestPaid | currency}}
									td {{acct.amount + acct.principalPaid | currency}}
						h4 Assets
						table.table
							thead
								tr
									th Account
									th Net Activity
									th Interest Earned
									th Balance
							tbody
								tr(ng-repeat="acct in ctrl.assetAccounts")
									td
										a(href="") {{acct.name}}
									td {{acct.principalPaid | currency}}
									td {{acct.interestPaid | currency}}
									td {{acct.amount + acct.principalPaid | currency}}
			.col-md-4
				.panel.panel-default
					.panel-heading
						h3.panel-title Balance
					.panel-body
						dl.dl-horizontal
							dt Total Assets:
							dd $485,338.72
							dt Total Liabilities:
							dd $138,009.38
							dt Net Worth:
							dd $347,329.34

		.row
			.col-md-8
				.panel.panel-default
					.panel-heading
						h3.panel-title Net Worth over Time
					.panel-body
						div A graph will go here, data modeling and keeping it up to date is TBD.
			.col-md-4
				.panel.panel-default
					.panel-heading
						h3.panel-title Upcoming
					.panel-body
						table.table
							thead
								tr
									th What
									th When
							tbody
								tr
									td Pay Day (Ken)
									td 5/1/2015
								tr
									td Mortgage Payment
									td 5/1/2015
								tr
									td Car Payment
									td 5/15/2015

