@import "variables";

.twitter-typeahead {
  width: 100%;
}

.tt-dropdown-menu,
.gist {
  text-align: left;
}

.typeahead:focus {
  border: 2px solid $brand-primary;
}

.tt-hint {
  color: #999;
}

.tt-hint[readonly] {
  background-color: transparent;
}

$dropdown-box-shadow:       0 5px 10px rgba(0,0,0,0.2);
.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: $border-radius-large;
  -moz-border-radius: $border-radius-large;
  -ms-border-radius: $border-radius-large;
  border-radius: $border-radius-large;
  -webkit-box-shadow: $dropdown-box-shadow;
  -moz-box-shadow: $dropdown-box-shadow;
  -ms-box-shadow: $dropdown-box-shadow;
  box-shadow: $dropdown-box-shadow;
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
  p{
    margin: 0;
  }
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: $brand-primary;
}