<div class="container"><h1 class="text-center">HomeTrax</h1>

  <h2 class="text-center">Current Version: {{ctrl.currentVersion}}</h2>

  <p>HomeTrax is a program for tracking various things about life. Specifically for keeping track of things I
    am always needing to look up that I don't really track anywhere else. Mostly stuff about my house.</p>

  <p>I was also interested in learning more about writing SPAs with AngularJS, writing server side code
    in JavaScript using NodeJS, and storing data in MongoDB. This application was written to allow me
    to explore those technologies.</p>

  <h2>Version History</h2>

  <div id="accordion" class="panel-group">
    <div ng-repeat="version in ctrl.versions" class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion"
                                                            href="#collapse{{version.id}}">{{version.name}}</a></h3>
      </div>
      <div id="collapse{{version.id}}" class="panel-collapse collapse">
        <div class="panel-body"><h4 ng-show="version.releaseDate">Release Date: {{version.releaseDate | date}}</h4>

          <p>{{version.description}}</p>

          <div ng-show="version.features"><h4>New Features</h4>
            <ul>
              <li ng-repeat="feature in version.features">{{feature}}</li>
            </ul>
          </div>
          <div ng-show="version.bugFixes"><h4>Bugs Fixed</h4>
            <ul>
              <li ng-repeat="fix in version.bugFixes">{{fix}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>