div.container
	form.form-signin.well
		h2.text-center Welcome!
		h3.text-center Please Sign In
		fieldset
			div
				input.form-control(placeholder="Email", ng-model="ctrl.username")
			div
				input.form-control(type="password", placeholder="Password", ng-model="ctrl.password")
			div
				button.btn.btn-lg.btn-block.btn-primary(ng-click="ctrl.signin(ctrl.username, ctrl.password)") Sign In