.modal(tabindex="-1" role="dialog")
	.modal-dialog
		.modal-content
			form.form-horizontal(name="passwordEditor")
				.modal-header
					button.close(type='button', ng-click="$hide()", aria-hidden='true') &times;
					h4.modal-title Change Password
				.modal-body
					fieldset
						.form-group
							label.col-md-4.control-label(for='current') Current Password
							.col-md-8
								input.form-control(name='current', type='password', ng-model='passwordModel.password', required)
								.error-container(ng-show='passwordEditor.current.$invalid')
									small.text-danger(ng-show='passwordEditor.current.$error.required') Required
						.form-group
							label.col-md-4.control-label(for='newPassword') New Password
							.col-md-8
								input.form-control(name='newPassword', type='password', ng-change='validatePassword()', ng-model='passwordModel.newPassword', ng-minlength=8, required)
								.error-container(ng-show='passwordEditor.newPassword.$invalid')
									small.text-danger(ng-show='passwordEditor.newPassword.$error.required') Required
									small.text-danger(ng-show='passwordEditor.newPassword.$error.minlength') Must be at least 8 characters long
						.form-group
							label.col-md-4.control-label(for='verifyPassword') Verify New Password
							.col-md-8
								input.form-control(name='verifyPassword', type='password', ng-change='validatePassword()', ng-model='passwordModel.verifyPassword', required, matches-value='{{passwordModel.newPassword}}')
								.error-container(ng-show='passwordEditor.verifyPassword.$invalid')
									small.text-danger(ng-show='passwordEditor.verifyPassword.$error.required') Required
									small.text-danger(ng-show='!passwordEditor.verifyPassword.$error.required && passwordEditor.verifyPassword.$error.matchesValue') Must match new password
						.form-group
							.col-md-offset-4.col-md-8.text-danger {{errorMessage}}
				.modal-footer
					button.btn.btn-default(type='button', ng-click="$hide()") Close
					button.btn.btn-primary(type='submit', ng-click='setPassword()', ng-disabled="passwordEditor.$invalid") Set Password