div.container
	table.table
		thead
			tr
				th First Name
				th Last Name
				th Username
		tbody
			tr(ng-repeat="user in ctrl.users")
				td {{user.firstName}}
				td {{user.lastName}}
				td
					a(href = "", ng-click="ctrl.edit(user)") {{user.username}}
	button.btn.btn-default(ng-click="ctrl.create()") New User