.col-md-1
	.form-control(ng-class='ctrl.colorPanelClass(ctrl.colors[0])', ng-style='ctrl.backgroundColor(ctrl.colors[0])', ng-click='ctrl.selectColor(ctrl.colors[0])')
.col-md-1
	.form-control(ng-class='ctrl.colorPanelClass(ctrl.colors[1])', ng-style='ctrl.backgroundColor(ctrl.colors[1])', ng-click='ctrl.selectColor(ctrl.colors[1])')
.col-md-1
	.form-control(ng-class='ctrl.colorPanelClass(ctrl.colors[2])', ng-style='ctrl.backgroundColor(ctrl.colors[2])', ng-click='ctrl.selectColor(ctrl.colors[2])')
.col-md-1
	.form-control(ng-class='ctrl.colorPanelClass(ctrl.colors[3])', ng-style='ctrl.backgroundColor(ctrl.colors[3])', ng-click='ctrl.selectColor(ctrl.colors[3])')
.col-md-1
	.form-control(ng-class='ctrl.colorPanelClass(ctrl.colors[4])', ng-style='ctrl.backgroundColor(ctrl.colors[4])', ng-click='ctrl.selectColor(ctrl.colors[4])')
.col-md-1
	.form-control(ng-class='ctrl.colorPanelClass(ctrl.colors[5])', ng-style='ctrl.backgroundColor(ctrl.colors[5])', ng-click='ctrl.selectColor(ctrl.colors[5])')
.col-md-1
	.form-control(ng-class='ctrl.colorPanelClass(ctrl.colors[6])', ng-style='ctrl.backgroundColor(ctrl.colors[6])', ng-click='ctrl.selectColor(ctrl.colors[6])')
.col-md-1
	.form-control(ng-class='ctrl.colorPanelClass(ctrl.colors[7])', ng-style='ctrl.backgroundColor(ctrl.colors[7])', ng-click='ctrl.selectColor(ctrl.colors[7])')
.col-md-1
	.form-control(ng-class='ctrl.colorPanelClass(ctrl.colors[8])', ng-style='ctrl.backgroundColor(ctrl.colors[8])', ng-click='ctrl.selectColor(ctrl.colors[8])')