.col-md-1
	.form-control(ng-style='ctrl.backgroundColor(ctrl.colors[0])')
.col-md-1
	.form-control(ng-style='ctrl.backgroundColor(ctrl.colors[1])')
.col-md-1
	.form-control(ng-style='ctrl.backgroundColor(ctrl.colors[2])')
.col-md-1
	.form-control(ng-style='ctrl.backgroundColor(ctrl.colors[3])')
.col-md-1
	.form-control.form-control-selected(ng-style='ctrl.backgroundColor(ctrl.colors[4])')
.col-md-1
	.form-control(ng-style='ctrl.backgroundColor(ctrl.colors[5])')
.col-md-1
	.form-control(ng-style='ctrl.backgroundColor(ctrl.colors[6])')
.col-md-1
	.form-control(ng-style='ctrl.backgroundColor(ctrl.colors[7])')
.col-md-1
	.form-control(ng-style='ctrl.backgroundColor(ctrl.colors[8])')