ul.nav.navbar-nav.navbar-right(ng-controller="trxLoginMenuCtrl")
  li
    a(href="/login" ng-hide="identity.isAuthenticated()") Log In
    a(href="#" ng-click="logout()" ng-show="identity.isAuthenticated()") Log Out