form.form-horizontal(name="passwordEditor")
	.modal-header
		button.close(type='button', ng-click="cancel()", aria-hidden='true') &times;
		h4.modal-title Change Password
	.modal-body
		fieldset
			.form-group
				label.col-md-4.control-label(for='current') Current Password
				.col-md-8
					input.form-control(name='current', type='password', ng-model='model.password', required)
			.form-group
				label.col-md-4.control-label(for='newPassword') New Password
				.col-md-8
					input.form-control(name='newPassword', type='password', ng-change='validatePassword()', ng-model='model.newPassword', required)
			.form-group
				label.col-md-4.control-label(for='verifyPassword') Verify New Password
				.col-md-8
					input.form-control(name='verifyPassword', type='password', ng-change='validatePassword()', ng-model='model.verifyPassword', required)
			.form-group
				.col-md-offset-4.col-md-8.text-danger {{errorMessage}}
	.modal-footer
		button.btn.btn-default(type='button', ng-click="cancel()") Close
		button.btn.btn-primary(type='submit', ng-click='ok()', ng-disabled="passwordEditor.$invalid || !newPasswordIsValid") Set Password