ul.nav.navbar-nav.navbar-right(ng-controller="userAdminMenuCtrl")
	li(ng-show="identity.isAuthenticated() && !identity.isAuthorized('admin')")
		a(href="/account/myprofile") My Profile
	li.dropdown(ng-show="identity.isAuthorized('admin')")
		a.dropdown-toggle(href="#", data-toggle="dropdown") User Admin
		ul.dropdown-menu
			li
				a(href="/account/myprofile") My Profile
			li
				a(href="/account/userlist") User List