form.form-horizontal(name="userEditor")
	.modal-header
		button.close(type='button', ng-click="cancel()", aria-hidden='true') &times;
		h4.modal-title {{title}}
	.modal-body
		fieldset
			.form-group
				label.col-md-3.control-label(for='username') Username
				.col-md-9
					input.form-control(name='username', type='text', ng-model='model.username', required)
					.error-container(ng-show='userEditor.username.$invalid')
						small.text-danger(ng-show='userEditor.username.$error.required') Required
			.form-group
				label.col-md-3.control-label(for='firstName') First Name
				.col-md-9
					input.form-control(name='firstName', type='text', ng-model='model.firstName', required)
					.error-container(ng-show='userEditor.firstName.$invalid')
						small.text-danger(ng-show='userEditor.firstName.$error.required') Required
			.form-group
				label.col-md-3.control-label(for='lastName') Last Name
				.col-md-9
					input.form-control(name='lastName', type='text', ng-model='model.lastName', required)
					.error-container(ng-show='userEditor.lastName.$invalid')
						small.text-danger(ng-show='userEditor.lastName.$error.required') Required
			.form-group(ng-show='mode==="create"')
				label.col-md-3.control-label(for='password') Password
				.col-md-9
					input.form-control(name='password', type='password', ng-change='validatePassword()', ng-model='model.password', ng-minlength=8, ng-required='mode==="create"')
					.error-container(ng-show='userEditor.password.$invalid')
						small.text-danger(ng-show='userEditor.password.$error.required') Required
						small.text-danger(ng-show='userEditor.password.$error.minlength') Must be at least 8 characters long
			.form-group(ng-show='mode==="create"')
				label.col-md-3.control-label(for='verifyPassword') Verify Password
				.col-md-9
					input.form-control(name='verifyPassword', type='password', ng-change='validatePassword()', ng-model='model.verifyPassword', ng-required='mode==="create"', matches-value='{{model.password}}')
					.error-container(ng-show='userEditor.verifyPassword.$invalid')
						small.text-danger(ng-show='userEditor.verifyPassword.$error.required') Required
						small.text-danger(ng-show='!userEditor.verifyPassword.$error.required && userEditor.verifyPassword.$error.matchesValue') Must match password
			.form-group
				.col-md-offset-4.col-md-8.text-danger {{errorMessage}}
	.modal-footer
		button.btn.btn-default(type='button', ng-click="cancel()") Close
		button.btn.btn-primary(type='submit', ng-click='ok()', ng-disabled="userEditor.$invalid") Save