.modal-header
	button.close(type='button', ng-click="cancel()", aria-hidden='true') &times;
	h4.modal-title {{editorTitle}}
.modal-body
	fieldset
		.form-group
			label.col-md-3.control-label(for='username') Username
			.col-md-9
				input.form-control(name='username', type='text', ng-model='user.username', required)
		.form-group
			label.col-md-3.control-label(for='firstName') First Name
			.col-md-9
				input.form-control(name='firstName', type='text', ng-model='user.firstName', required)
		.form-group
			label.col-md-3.control-label(for='lastName') Last Name
			.col-md-9
				input.form-control(name='lastName', type='text', ng-model='user.lastName', required)
		.form-group(ng-hide='mode==="edit"')
			label.col-md-3.control-label(for='password') Password
			.col-md-9
				input.form-control(name='password', type='password', ng-change='passwordEntryChanged()', ng-model='user.password')
		.form-group(ng-hide='mode==="edit"')
			label.col-md-3.control-label(for='verifyPassword') Verify Password
			.col-md-9
				input.form-control(name='verifyPassword', type='password', ng-change='passwordEntryChanged()', ng-model='user.verifyPassword')
		.form-group
			.col-md-offset-4.col-md-8.text-danger {{passwordErrorMessage}}
.modal-footer
	button.btn.btn-default(type='button', ng-click="cancel()") Close
	button.btn.btn-primary(type='submit', ng-click='save()', ng-disabled="userEditor.$invalid || !passwordIsValid") Save