.container
	kws-page-header(kws-title="{{ctrl.title}}" kws-sub-text-lines="ctrl.addressLines")

	div(bs-tabs)
		div(bs-pane, title="Information")
			.container-fluid
				.row
					.col-md-4
						kws-definition-list-panel(kws-title="Basic Information", kws-lists="ctrl.basicInformation", kws-model="ctrl.household")
					.col-md-4
						.panel.panel-default
							.panel-heading
								h3.panel-title Financial History
							.panel-body A graph will go here some day
					.col-md-4
						.panel.panel-default
							.panel-heading
								h3.panel-title Upcoming Events
							.panel-body
								div A list will go here
								div A list will go here
								div A list will go here
		div(bs-pane, title="Schedule") This is some more content
		div(bs-pane, title="History") This is some different content
		div(bs-pane, title="Appliances") This is some content that is yet different in a different way