<div class="container">
  <kws-page-header kws-lines="ctrl.headerLines" kws-model="ctrl.household"></kws-page-header>
  <div bs-tabs="bs-tabs">
    <div bs-pane="bs-pane" title="Information">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <kws-definition-list-panel kws-title="Basic Information" kws-lists="ctrl.basicInformation"
                                       kws-model="ctrl.household"></kws-definition-list-panel>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading"><h3 class="panel-title">Financial History</h3></div>
              <div class="panel-body">A graph will go here some day</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading"><h3 class="panel-title">Upcoming Events</h3></div>
              <div class="panel-body">
                <div>A list will go here</div>
                <div>A list will go here</div>
                <div>A list will go here</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div bs-pane="bs-pane" title="Schedule">This is some more content</div>
    <div bs-pane="bs-pane" title="History">This is some different content</div>
    <div bs-pane="bs-pane" title="Appliances">This is some content that is yet different in a different way</div>
  </div>
</div>