.container
	kws-page-header(kws-title="{{ctrl.title}}" kws-sub-text-lines="ctrl.addressLines")

	div(bs-tabs)
		div(bs-pane, title="Information") This is some content
		div(bs-pane, title="Schedule") This is some more content
		div(bs-pane, title="History") This is some different content
		div(bs-pane, title="Appliances") This is some content that is yet different in a different way