.modal(tabindex="-1" role="dialog")
	.modal-dialog
		.modal-content
			form.form-horizontal(name="financialAccountEditor")
				.modal-header
					button.close(type="button", ng-click="$hide()", aria-hidden="true") &times;
					h4.modal-title {{controller.title}}ƒ
				.modal-body
					fieldset
						.form-group
							label.col-md-3.control-label(for='accoutType') Type of Account
							.col-md-9
								select.form-control(ng-model="controller.accountType", ng-options="item as item.name for item in controller.accountTypes")
						.form-group(ng-show="controller.accountType.balanceType === 'liability'")
							label.col-md-3.control-label(for='entity') For
							.col-md-9
								select.form-control(ng-model="controller.entity", ng-options="item as item.name for item in controller.entities")
									option(value="") -- Nothing --
						.form-group
							label.col-md-3.control-label(for='name') Name
							.col-md-9
								input.form-control(name='name', type='text', ng-model='controller.name', required)
								div(ng-messages="financialAccountEditor.name.$error", role="alert")
									div(ng-messages-include="/partials/common/templates/errorMessages")
						.form-group
							label.col-md-3.control-label(for='bank') Bank Name
							.col-md-9
								input.form-control(name='bank', type='text', ng-model='controller.bank', required)
								div(ng-messages="financialAccountEditor.bank.$error", role="alert")
									div(ng-messages-include="/partials/common/templates/errorMessages")
						.form-group
							label.col-md-3.control-label(for='amount') Opening Balance
							.col-md-9
								input.form-control(name='amount', type='text', ng-model='controller.amount', required)
								div(ng-messages="financialAccountEditor.amount.$error", role="alert")
									div(ng-messages-include="/partials/common/templates/errorMessages")
				.modal-footer
					button.btn.btn-default.pull-left(type='button', ng-click="controller.remove()", ng-show="controller.mode === 'edit'") Remove
					button.btn.btn-default(type='button', ng-click="$hide()") Cancel
					button.btn.btn-primary(type='submit', ng-click='controller.save()', ng-disabled="financialAccountEditor.$invalid || errorMessage") Save