doctype

html
	head
		title My Home App
		base(href="/")
		link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
		// @ifndef DEBUG
		link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="/vendor/fontawesome/css/font-awesome.min.css")
		link(rel="stylesheet", href="/vendor/toastr/toastr.min.css")
		link(rel="stylesheet", href="/vendor/fullcalendar/dist/fullcalendar.css")
		link(rel="stylesheet", href="/vendor/angular-motion/dist/angular-motion.min.css")
		link(rel="stylesheet", href="/vendor/bootstrap-additions/dist/bootstrap-additions.min.css")
		link(rel="stylesheet", href="/dist/Home-App.min.css")
	body(ng-app="app", ng-strict-di)
		// @endif
		// @ifdef DEBUG
		link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet", href="/vendor/fontawesome/css/font-awesome.css")
		link(rel="stylesheet", href="/vendor/toastr/toastr.css")
		link(rel="stylesheet", href="/vendor/fullcalendar/dist/fullcalendar.css")
		link(rel="stylesheet", href="/vendor/angular-motion/dist/angular-motion.css")
		link(rel="stylesheet", href="/vendor/bootstrap-additions/dist/bootstrap-additions.css")
		link(rel="stylesheet", href="/dist/Home-App.css")
	body(ng-app="app")
		// @endif
		include navigation
		block main-content
		include scripts