.navbar.navbar-default.navbar-fixed-top(role="navigation")
	.navbar-header
		button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
			span.sr-only Toggle Naavigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		a.navbar-brand(href="/")
			span.glyphicon.glyphicon-home
			span &nbsp;HomeTrax
	.navbar-collapse.collapse
		ul.nav.navbar-nav
			li
				a(href="/calendar") Calendar
			li.dropdown
				a.dropdown-toggle(href="#", data-toggle="dropdown") Finance
				ul.dropdown-menu(ng-controller="financeMenuCtrl", ng-include="'/partials/finance/finance-menu'")
		span(ng-include="'/partials/account/login-menu'")
		span(ng-include="'/partials/account/user-admin-menu'")
		ul.nav.navbar-nav.navbar-right
			li
				a(href="/about") About