script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/main/trxAboutCtrl.js")
script(type="text/javascript", src="/app/main/trxMainCtrl.js")
script(type="text/javascript", src="/app/account/trxAuthService.js")
script(type="text/javascript", src="/app/account/trxIdentity.js")
script(type="text/javascript", src="/app/account/trxLoginCtrl.js")
script(type="text/javascript", src="/app/account/trxLoginMenuCtrl.js")
script(type="text/javascript", src="/app/account/trxMyProfileCtrl.js")
script(type="text/javascript", src="/app/account/trxUserAdminMenuCtrl.js")
script(type="text/javascript", src="/app/account/trxUserListCtrl.js")
script(type="text/javascript", src="/app/account/trxUser.js")
script(type="text/javascript", src="/app/account/trxUserPassword.js")
script(type="text/javascript", src="/app/calendar/trxCalendarCtrl.js")
script(type="text/javascript", src="/app/common/trxNotifier.js")
script(type="text/javascript", src="/app/finance/trxFinancialAccountCtrl.js")
script(type="text/javascript", src="/app/finance/trxFinanceMenuCtrl.js")