<div class="container"><h1 class="text-center">HomeTrax</h1>

  <h2 class="text-center">Current Version: {{controller.currentClientVersion}}</h2>

  <p>HomeTrax is a simple time tracking application. Some of the terminology currently used in the application
    is derived from the way we track time at work, since I wrote it to make my time tracking for work easier.</p>

  <h2>Version History</h2>

  <uib-accordion close-others="false">
    <uib-accordion-group ng-repeat="version in controller.clientVersions" heading="{{version.name}}">
      <div class="panel-body"><h4 ng-show="version.releaseDate">Release Date: {{version.releaseDate | date}}</h4>

        <p>{{version.description}}</p>

        <div ng-show="version.features.length > 0"><h4>New Features</h4>
          <ul>
            <li ng-repeat="feature in version.features">{{feature}}</li>
          </ul>
        </div>
        <div ng-show="version.bugFixes.length > 0"><h4>Bugs Fixed</h4>
          <ul>
            <li ng-repeat="fix in version.bugFixes">{{fix}}</li>
          </ul>
        </div>
      </div>
    </uib-accordion-group>
  </uib-accordion>
</div>