<div class="container">
  <div class="jumbotron">
    <button ng-click="ctrl.editAccount()" class="btn btn-xs pull-right"><span class="glyphicon glyphicon-pencil"></span>
    </button>
    <div class="clearfix"><h2 class="text-center">{{ctrl.account.name}}</h2>

      <div class="text-center">{{ctrl.account.bank}}</div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
          <tr>
            <th>Date</th>
            <th class="description">Description</th>
            <th class="text-right">Principal Amount</th>
            <th class="text-right">Interest</th>
            <th>
              <div class="btn-area pull-right">
                <button ng-click="ctrl.addTransaction()" class="btn btn-xs pull-right"><span
                  class="glyphicon glyphicon-plus"></span></button>
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="trans in ctrl.transactions">
            <td>{{trans.transactionDate | date}}</td>
            <td class="description">{{trans.description}}</td>
            <td class="text-right">{{trans.principalAmount | currency}}</td>
            <td class="text-right">{{trans.interestAmount | currency}}</td>
            <td>
              <div class="btn-area pull-right">
                <button ng-click="ctrl.deleteTransaction(trans)" class="btn btn-xs"><span
                  class="glyphicon glyphicon-minus"></span></button>
                <button ng-click="ctrl.editTransaction(trans)" class="btn btn-xs"><span
                  class="glyphicon glyphicon-pencil"></span></button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>